.highlight-grid {
  margin: 0 auto 0;
  max-width: 1432px;
  padding: 0 5px;
  .highlight-item {
    display: block;
    padding: 0 15px 30px;
    vertical-align: top;
    // width: 100%;
    .description {
      max-width: 420px;
      padding: 30px 70px 26px;
      background-color: #f4f3ea;
      font: 16px firasans_r;
      color: #3e443d;
      text-align: center;
    }
    .chart-container {
      background-color: #ffffff;
      max-width: 420px;
      // padding: 30px 30px 26px;
      .highcharts-title {
        a {
          font: 18px firasans_r;
          color: #5d675b;
        }
      }
    }
  }
}

.empty-page {
  color: #ffffff;
}
@media (min-width: 420px) {
  .highlight-grid {
    .chart-container {
      width: 100%;
    }
  }
}
@media (min-width: 992px) {
  .highlight-grid {
    padding: 0 26px;
    // .highlight-item {
    //   width: 100%;
    // }
    .chart-container {
      width: 420px;
    }
    .highlight-item {
      display: inline-block;
    }
  }
}
// .highlight-grid {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: space-around;
//   max-width: 1200px;
//   .highlight-item {
//     max-width: 560px;
//     width: 560px;
//   }
// }
